.navbar.navbar-default
  .container
    .navbar-footer
      .navber-header
        %div
          %ul.nav.navbar-nav.navbar-brand-center
            %span.text= "Copyright Twitter. All rights reserved."
